[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DIFtree"]
	path = DIFtree
	url = https://github.com/cran/DIFtree
[submodule "TSVC"]
	path = TSVC
	url = https://github.com/cran/TSVC
[submodule "ordDisp"]
	path = ordDisp
	url = https://github.com/cran/ordDisp
[submodule "structree"]
	path = structree
	url = https://github.com/cran/structree
